
.searchSection {
  width: 100%;
  padding: 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm{
  display: flex;
  justify-content: center;
  flex-direction: row;
  // padding: 0 15% 0 15%;
  width: 50%;
  input{
    width: 100%;
    font-size: 1rem;
    line-height: 1rem;
    padding: 7px;
    border: 1px solid #DDD;
    // border-width: 1px 0 1px 1px;
    border-radius: 5px;
    &:focus{
      outline: none;
    }
  }

  // button{
  //   padding: 7px;
  //   width: 20%;
  //   font-size: 1rem;
  //   background-color: white;
  //   border: 1px solid #DDD;
  //   border-width: 1px 1px 1px 0;
  //   border-radius: 0 5px 5px 0;
  //   cursor: pointer;
  //   i{
  //     color: #A0A0A0;
  //   }
  // }
}

.searchResults {
  background-color: #F1F1F1;
  margin: 0 15% 0 15%;
  max-height: 500px;
  overflow: auto;
  border-radius: 5px;
  border: 1px solid #DDD;
  margin-top: 5px;
  li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &:not(:last-child){
      border-bottom: 1px solid #DDD;
    }
    span{
      padding-left: 30px;
    }
    img{
      padding-right: 30px;
    }
  }
}

.searchLoading{
  padding-left: 30px;
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #DDD;
  margin-top: 5px;
  margin: 0 5px 0 5px;
  background-color: #F1F1F1;
}

.notFound{
  width: 50%;
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #DDD;
  margin: 5px 5px 0 5px;
  background-color: #F1F1F1;
  p{
    padding-left: 30px;
  }
}