// Variables 
$darkBlack: #313131;
$fontLight: #f1f1f1;
$fontMedium: #7c7c7c;

// Duo Pokemon Type
$firstBug:#24B500;
$secondBug: #4F6949;

$firstDark:#525049;
$secondDark: #474747;

$firstDragon:#0D18B8;
$secondDragon: #070E6B;

$firstElectric:#EBD110;
$secondElectric: #6B5F07;

$firstFairy:#000000;
$secondFairy: #000000;

$firstFighting:#000000;
$secondFighting: #000000;

$firstFire:#000000;
$secondFire: #000000;

$firstFlying:#000000;
$secondFlying: #000000;

$firstGhost:#000000;
$secondGhost: #000000;

$firstGrass:#000000;
$secondGrass: #000000;

$firstGround:#000000;
$secondGround: #000000;

$firstIce:#000000;
$secondIce: #000000;

$firstNormal:#000000;
$secondNormal: #000000;

$firstPoison:#000000;
$secondPoison: #000000;

$firstPsychic:#000000;
$secondPsychic: #000000;

$firstRock:#000000;
$secondRock: #000000;

$firstSteel:#000000;
$secondSteel: #000000;

$firstWater:#000000;
$secondWater: #000000;

