// Variables 
$darkBlack: #313131;
$fontLight: #f1f1f1;
$fontMedium: #7c7c7c;

// Duo Pokemon Type
$firstBug:#94C22C;
$secondBug: #454839;

$firstDark:#34495E;
$secondDark: #17202A;

$firstDragon:#0D18B8;
$secondDragon: #352C48;

$firstElectric:#F1C40F;
$secondElectric: #4D4637;

$firstFairy:#F07F9F;
$secondFairy: #564146;

$firstFighting:#DC3D13;
$secondFighting: #56423C;

$firstFire:#FF6C00;
$secondFire: #54433A;

$firstFlying:#95AED7;
$secondFlying: #3F4756;

$firstGhost:#5168AB;
$secondGhost: #434655;

$firstGrass:#27AE60;
$secondGrass: #3B4A3F;

$firstGround:#D47847;
$secondGround: #54433B;

$firstIce:#B6E6DF;
$secondIce: #334B48;

$firstNormal:#858585;
$secondNormal: #4C4C4C;

$firstPoison:#AB6BCC;
$secondPoison: #4D4351;

$firstPsychic:#FB6E77;
$secondPsychic: #734853;

$firstRock:#CEBD91;
$secondRock: #4C4637;

$firstSteel:#5B8FA7;
$secondSteel: #354A54;

$firstWater:#4D91D8;
$secondWater: #3E4756;

