// Variables 
$darkBlack: #313131;
$fontLight: #f1f1f1;
$fontMedium: #7c7c7c;

// Duo Pokemon Type
$firstBug:#145A32;
$secondBug: #186A3B;

$firstDark:#34495E;
$secondDark: #17202A;

$firstDragon:#0D18B8;
$secondDragon: #070E6B;

$firstElectric:#F1C40F;
$secondElectric: #7D6608;

$firstFairy:#F07F9F;
$secondFairy: #800F2F;

$firstFighting:#000000;
$secondFighting: #000000;

$firstFire:#000000;
$secondFire: #000000;

$firstFlying:#000000;
$secondFlying: #000000;

$firstGhost:#000000;
$secondGhost: #000000;

$firstGrass:#27AE60;
$secondGrass: #145A32;

$firstGround:#000000;
$secondGround: #000000;

$firstIce:#000000;
$secondIce: #000000;

$firstNormal:#000000;
$secondNormal: #000000;

$firstPoison:#000000;
$secondPoison: #000000;

$firstPsychic:#000000;
$secondPsychic: #000000;

$firstRock:#000000;
$secondRock: #000000;

$firstSteel:#000000;
$secondSteel: #000000;

$firstWater:#000000;
$secondWater: #000000;

